In [10]:
import pandas as pd

Brooklyn_property_sales_file_path = r"C:\Users\proprietaire\Desktop\PROJETS DATA (PERSOS)\2019_Brooklyn.csv"
Manhattan_property_sales_file_path = r"C:\Users\proprietaire\Desktop\PROJETS DATA (PERSOS)\2019_Manhattan.csv"
airbnb_file_path = r"C:\Users\proprietaire\Desktop\PROJETS DATA (PERSOS)\AB_NYC_2019.csv"

# Loading the Airbnb dataset
df_airbnb = pd.read_csv(r"C:\Users\proprietaire\Desktop\PROJETS DATA (PERSOS)\AB_NYC_2019.csv", encoding='utf-8')
print("Dataset Airbnb")

Dataset Airbnb

In [25]:
# Display the first 5 lines
df_airbnb = pd.read_csv(airbnb_file_path, encoding='utf-8')
print(df_airbnb.head())

     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  2018-10-19
1  Entire home/apt    225               1                 45  2019-05-21
2     Private room    150               3                  0         NaN
3  Entire home/apt     89               1                270  2019-07-05
4  Entire home/apt     80              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2                NaN                               1               365
3               4.64                               1               194
4               0.10                               1                 0

In [24]:
# Loading the Manhattan Property Sales dataset
df_airbnb = pd.read_csv( r"C:\Users\proprietaire\Desktop\PROJETS DATA (PERSOS)\2019_Manhattan.csv", encoding='utf-8')
print("Manhattan Property Sales")

Manhattan Property Sales

In [37]:
# Display the first 5 lines
df_Manhattan_Property_Sales = pd.read_csv(Manhattan_property_sales_file_path, encoding='utf-8')
print(df_Manhattan_Property_Sales.head())

   Borough   Neighborhood    Building Class Category  \
0        1  ALPHABET CITY    01 ONE FAMILY DWELLINGS
1        1  ALPHABET CITY    01 ONE FAMILY DWELLINGS
2        1  ALPHABET CITY    02 TWO FAMILY DWELLINGS
3        1  ALPHABET CITY  03 THREE FAMILY DWELLINGS
4        1  ALPHABET CITY  03 THREE FAMILY DWELLINGS

  Tax Class As Of Final Roll 18/1  Block  Lot  Ease-Ment  \
0                               1    376   43        NaN
1                               1    390   61        NaN
2                               1    404    1        NaN
3                               1    377   56        NaN
4                               1    393    9        NaN

  Building Class As Of Final Roll 18/1               Address Apartment Number  \
0                                   S1   743 EAST 6TH STREET              NaN
1                                   A4   189 EAST 7TH STREET              NaN
2                                   B9          166 AVENUE A              NaN
3                                   C0   263 EAST 7TH STREET              NaN
4                                   C0  604 EAST 11TH STREET              NaN

   ...  Residential Units  Commercial Units  Total Units  Land Square Feet  \
0  ...                1.0               1.0          2.0            2090.0
1  ...                1.0               0.0          1.0             987.0
2  ...                2.0               0.0          2.0            1510.0
3  ...                3.0               0.0          3.0            2430.0
4  ...                3.0               0.0          3.0            2375.0

   Gross Square Feet  Year Built  Tax Class At Time Of Sale  \
0             3680.0      1940.0                          1
1             2183.0      1860.0                          1
2             4520.0      1900.0                          1
3             3600.0      1899.0                          1
4             5110.0      1939.0                          1

   Building Class At Time Of Sale Sale Price            Sale Date
0                              S1    3200000  2019-07-24 00:00:00
1                              A4          0  2019-09-25 00:00:00
2                              B9          0  2019-07-22 00:00:00
3                              C0    6300000  2019-04-30 00:00:00
4                              C0          0  2019-10-24 00:00:00

[5 rows x 21 columns]

In [33]:
# Loading the Brooklyn Property Sales dataset
df_Brooklyn_Property_Sales = pd.read_csv(  r"C:\Users\proprietaire\Desktop\PROJETS DATA (PERSOS)\2019_Brooklyn.csv", encoding='utf-8')
print("Brooklyn Property Sales")

Brooklyn Property Sales

In [27]:
# Display the first 5 lines
df_Brooklyn_Property_Sales = pd.read_csv(Brooklyn_property_sales_file_path, encoding='utf-8')
print(df_Brooklyn_Property_Sales.head())

   Borough Neighborhood  Building Class Category Tax Class At Present   Block  \
0      3.0   BATH BEACH  01 ONE FAMILY DWELLINGS                    1  6363.0
1      3.0   BATH BEACH  01 ONE FAMILY DWELLINGS                    1  6363.0
2      3.0   BATH BEACH  01 ONE FAMILY DWELLINGS                    1  6363.0
3      3.0   BATH BEACH  01 ONE FAMILY DWELLINGS                    1  6364.0
4      3.0   BATH BEACH  01 ONE FAMILY DWELLINGS                    1  6367.0

    Lot  Ease-Ment Building Class At Present             Address  \
0  22.0        NaN                        A9    8645 16TH AVENUE
1  48.0        NaN                        A9  12 BAY 13TH STREET
2  48.0        NaN                        A9  12 BAY 13TH STREET
3  74.0        NaN                        A5  72 BAY 14TH STREET
4  42.0        NaN                        S1    1730 86TH STREET

  Apartment Number  ...  Residential Units  Commercial Units  Total Units  \
0              NaN  ...                1.0               0.0          1.0
1              NaN  ...                1.0               0.0          1.0
2              NaN  ...                1.0               0.0          1.0
3              NaN  ...                1.0               0.0          1.0
4              NaN  ...                1.0               1.0          2.0

   Land Square Feet  Gross Square Feet  Year Built  Tax Class At Time Of Sale  \
0            2058.0             1492.0      1930.0                        1.0
1            3142.0             3200.0      1999.0                        1.0
2            3142.0             3200.0      1999.0                        1.0
3            2492.0              972.0      1950.0                        1.0
4            1342.0             1920.0      1926.0                        1.0

   Building Class At Time Of Sale Sale Price            Sale Date
0                              A9        0.0  2019-04-23 00:00:00
1                              A9        0.0  2019-02-27 00:00:00
2                              A9        0.0  2019-02-11 00:00:00
3                              A5        0.0  2019-08-15 00:00:00
4                              S1  1630000.0  2019-02-08 00:00:00

[5 rows x 21 columns]

In [31]:
# --- Inspection of Airbnb dataset ---
if df_airbnb is not None:
    print("\n--- Initial inspection of the Airbnb dataset ---")
    print("First Lines :")
    print("\nInformation on columns and data types :")
    df_airbnb.info() # Useful for viewing types and non-zero values
    print("\nDescriptive statistics :")
    print(df_airbnb.describe()) # Useful for numeric columns (price, availability, etc.) [3, 6, 7].
    print("\nNumber of missing values per column :")
    print(df_airbnb.isnull().sum()) # Identifies columns with NaN

--- Initial inspection of the Airbnb dataset ---
First Lines :

Information on columns and data types :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23665 entries, 0 to 23664
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Borough                         23276 non-null  float64
 1   Neighborhood                    23276 non-null  object
 2   Building Class Category         23276 non-null  object
 3   Tax Class At Present            23260 non-null  object
 4   Block                           23276 non-null  float64
 5   Lot                             23276 non-null  float64
 6   Ease-Ment                       0 non-null      float64
 7   Building Class At Present       23260 non-null  object
 8   Address                         23276 non-null  object
 9   Apartment Number                6083 non-null   object
 10  Zip Code                        23276 non-null  float64
 11  Residential Units               20641 non-null  float64
 12  Commercial Units                20641 non-null  float64
 13  Total Units                     20641 non-null  float64
 14  Land Square Feet                20641 non-null  float64
 15  Gross Square Feet               20641 non-null  float64
 16  Year Built                      21676 non-null  float64
 17  Tax Class At Time Of Sale       23276 non-null  float64
 18  Building Class At Time Of Sale  23276 non-null  object
 19  Sale Price                      23276 non-null  float64
 20  Sale Date                       23276 non-null  object
dtypes: float64(13), object(8)
memory usage: 3.8+ MB

Descriptive statistics :
       Borough         Block           Lot  Ease-Ment      Zip Code  \
count  23276.0  23276.000000  23276.000000        0.0  23276.000000
mean       3.0   4436.305164    326.277797        NaN  11220.409134
std        0.0   2650.873893    513.573275        NaN     11.785682
min        3.0      1.000000      1.000000        NaN  11201.000000
25%        3.0   1865.000000     23.000000        NaN  11210.000000
50%        3.0   4782.500000     50.000000        NaN  11220.000000
75%        3.0   6732.000000    426.000000        NaN  11231.000000
max        3.0   8955.000000   6001.000000        NaN  11249.000000

       Residential Units  Commercial Units   Total Units  Land Square Feet  \
count       20641.000000      20641.000000  20641.000000      20641.000000
mean            2.230028          0.202946      2.432973       2485.481663
std            10.161772          1.814093     10.374395      15303.086255
min             0.000000          0.000000      0.000000          0.000000
25%             1.000000          0.000000      1.000000          0.000000
50%             1.000000          0.000000      2.000000       2000.000000
75%             2.000000          0.000000      2.000000       2500.000000
max           826.000000        210.000000    833.000000     970000.000000

       Gross Square Feet    Year Built  Tax Class At Time Of Sale  \
count       20641.000000  21676.000000               23276.000000
mean         2805.030522   1945.253737                   1.626654
std         14389.217507     38.858157                   0.875533
min             0.000000   1800.000000                   1.000000
25%             0.000000   1920.000000                   1.000000
50%          1844.000000   1930.000000                   1.000000
75%          2808.000000   1965.000000                   2.000000
max        942992.000000   2020.000000                   4.000000

         Sale Price
count  2.327600e+04
mean   1.037545e+06
std    4.611945e+06
min    0.000000e+00
25%    0.000000e+00
50%    4.850000e+05
75%    9.700000e+05
max    2.142000e+08

Number of missing values per column :
Borough                             389
Neighborhood                        389
Building Class Category             389
Tax Class At Present                405
Block                               389
Lot                                 389
Ease-Ment                         23665
Building Class At Present           405
Address                             389
Apartment Number                  17582
Zip Code                            389
Residential Units                  3024
Commercial Units                   3024
Total Units                        3024
Land Square Feet                   3024
Gross Square Feet                  3024
Year Built                         1989
Tax Class At Time Of Sale           389
Building Class At Time Of Sale      389
Sale Price                          389
Sale Date                           389
dtype: int64

In [35]:
# --- Inspection of the dataset Manhattan Property Sales ---
if df_Manhattan_Property_Sales is not None:
    print("\n--- Initial inspection of the Manhattan Property Sales dataset ---")
    print("First Lines :")
    print("\nInformation on columns and data types :")
    df_Manhattan_Property_Sales.info() # # Useful for viewing types and non-zero values
    print("\nDescriptive statistics :")
    print(df_Manhattan_Property_Sales.describe()) # Useful for numeric columns (price, availability, etc.) [4, 6, 7]
    print("\nNumber of missing values per column :")
    print(df_Manhattan_Property_Sales.isnull().sum())# Identifies columns with NaN

--- Initial inspection of the Manhattan Property Sales dataset ---
First Lines :

Information on columns and data types :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17583 entries, 0 to 17582
Data columns (total 21 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Borough                               17583 non-null  int64
 1   Neighborhood                          17583 non-null  object
 2   Building Class Category               17583 non-null  object
 3   Tax Class As Of Final Roll 18/1       17408 non-null  object
 4   Block                                 17583 non-null  int64
 5   Lot                                   17583 non-null  int64
 6   Ease-Ment                             0 non-null      float64
 7   Building Class As Of Final Roll 18/1  17408 non-null  object
 8   Address                               17583 non-null  object
 9   Apartment Number                      8088 non-null   object
 10  Zip Code                              17583 non-null  int64
 11  Residential Units                     9812 non-null   float64
 12  Commercial Units                      9812 non-null   float64
 13  Total Units                           9812 non-null   float64
 14  Land Square Feet                      9812 non-null   float64
 15  Gross Square Feet                     9812 non-null   float64
 16  Year Built                            15532 non-null  float64
 17  Tax Class At Time Of Sale             17583 non-null  int64
 18  Building Class At Time Of Sale        17583 non-null  object
 19  Sale Price                            17583 non-null  int64
 20  Sale Date                             17583 non-null  object
dtypes: float64(7), int64(6), object(8)
memory usage: 2.8+ MB

Descriptive statistics :
       Borough         Block           Lot  Ease-Ment      Zip Code  \
count  17583.0  17583.000000  17583.000000        0.0  17583.000000
mean       1.0   1104.190241    737.370642        NaN  10028.901382
std        0.0    536.865565    883.145605        NaN     36.959115
min        1.0     10.000000      1.000000        NaN  10001.000000
25%        1.0    729.000000     29.000000        NaN  10012.000000
50%        1.0   1164.000000   1003.000000        NaN  10021.000000
75%        1.0   1452.000000   1184.000000        NaN  10028.000000
max        1.0   2250.000000   9109.000000        NaN  10463.000000

       Residential Units  Commercial Units  Total Units  Land Square Feet  \
count        9812.000000       9812.000000  9812.000000       9812.000000
mean            3.388606          0.811965     4.200571       1003.708928
std            18.511595          9.887472    21.114622       8002.911352
min             0.000000          0.000000     0.000000          0.000000
25%             1.000000          0.000000     1.000000          0.000000
50%             1.000000          0.000000     1.000000          0.000000
75%             1.000000          0.000000     1.000000          0.000000
max           600.000000        570.000000   611.000000     659375.000000

       Gross Square Feet    Year Built  Tax Class At Time Of Sale  \
count       9.812000e+03  15532.000000               17583.000000
mean        6.648510e+03   1953.281677                   2.103509
std         5.086343e+04     37.794880                   0.510030
min         0.000000e+00   1800.000000                   1.000000
25%         0.000000e+00   1920.000000                   2.000000
50%         0.000000e+00   1954.000000                   2.000000
75%         0.000000e+00   1985.000000                   2.000000
max         2.400000e+06   2019.000000                   4.000000

         Sale Price
count  1.758300e+04
mean   3.640590e+06
std    2.682500e+07
min    0.000000e+00
25%    2.850000e+05
50%    8.650000e+05
75%    2.000000e+06
max    2.155000e+09

Number of missing values per column :
Borough                                     0
Neighborhood                                0
Building Class Category                     0
Tax Class As Of Final Roll 18/1           175
Block                                       0
Lot                                         0
Ease-Ment                               17583
Building Class As Of Final Roll 18/1      175
Address                                     0
Apartment Number                         9495
Zip Code                                    0
Residential Units                        7771
Commercial Units                         7771
Total Units                              7771
Land Square Feet                         7771
Gross Square Feet                        7771
Year Built                               2051
Tax Class At Time Of Sale                   0
Building Class At Time Of Sale              0
Sale Price                                  0
Sale Date                                   0
dtype: int64

In [36]:
# --- Inspection of the dataset Brooklyn Property Sales ---
if df_Brooklyn_Property_Sales is not None:
    print("\n--- Initial inspection of the Brooklyn Property Sales dataset ---")
    print("First Lines :")
    print("\nInformation on columns and data types :")
    df_Brooklyn_Property_Sales.info() # # Useful for viewing types and non-zero values
    print("\nDescriptive statistics :")
    print(df_Brooklyn_Property_Sales.describe()) # Useful for numeric columns (price, availability, etc.) [4, 6, 7]
    print("\nNumber of missing values per column :")
    print(df_Brooklyn_Property_Sales.isnull().sum())# Identifies columns with NaN

--- Initial inspection of the Brooklyn Property Sales dataset ---
First Lines :

Information on columns and data types :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23665 entries, 0 to 23664
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Borough                         23276 non-null  float64
 1   Neighborhood                    23276 non-null  object
 2   Building Class Category         23276 non-null  object
 3   Tax Class At Present            23260 non-null  object
 4   Block                           23276 non-null  float64
 5   Lot                             23276 non-null  float64
 6   Ease-Ment                       0 non-null      float64
 7   Building Class At Present       23260 non-null  object
 8   Address                         23276 non-null  object
 9   Apartment Number                6083 non-null   object
 10  Zip Code                        23276 non-null  float64
 11  Residential Units               20641 non-null  float64
 12  Commercial Units                20641 non-null  float64
 13  Total Units                     20641 non-null  float64
 14  Land Square Feet                20641 non-null  float64
 15  Gross Square Feet               20641 non-null  float64
 16  Year Built                      21676 non-null  float64
 17  Tax Class At Time Of Sale       23276 non-null  float64
 18  Building Class At Time Of Sale  23276 non-null  object
 19  Sale Price                      23276 non-null  float64
 20  Sale Date                       23276 non-null  object
dtypes: float64(13), object(8)
memory usage: 3.8+ MB

Descriptive statistics :
       Borough         Block           Lot  Ease-Ment      Zip Code  \
count  23276.0  23276.000000  23276.000000        0.0  23276.000000
mean       3.0   4436.305164    326.277797        NaN  11220.409134
std        0.0   2650.873893    513.573275        NaN     11.785682
min        3.0      1.000000      1.000000        NaN  11201.000000
25%        3.0   1865.000000     23.000000        NaN  11210.000000
50%        3.0   4782.500000     50.000000        NaN  11220.000000
75%        3.0   6732.000000    426.000000        NaN  11231.000000
max        3.0   8955.000000   6001.000000        NaN  11249.000000

       Residential Units  Commercial Units   Total Units  Land Square Feet  \
count       20641.000000      20641.000000  20641.000000      20641.000000
mean            2.230028          0.202946      2.432973       2485.481663
std            10.161772          1.814093     10.374395      15303.086255
min             0.000000          0.000000      0.000000          0.000000
25%             1.000000          0.000000      1.000000          0.000000
50%             1.000000          0.000000      2.000000       2000.000000
75%             2.000000          0.000000      2.000000       2500.000000
max           826.000000        210.000000    833.000000     970000.000000

       Gross Square Feet    Year Built  Tax Class At Time Of Sale  \
count       20641.000000  21676.000000               23276.000000
mean         2805.030522   1945.253737                   1.626654
std         14389.217507     38.858157                   0.875533
min             0.000000   1800.000000                   1.000000
25%             0.000000   1920.000000                   1.000000
50%          1844.000000   1930.000000                   1.000000
75%          2808.000000   1965.000000                   2.000000
max        942992.000000   2020.000000                   4.000000

         Sale Price
count  2.327600e+04
mean   1.037545e+06
std    4.611945e+06
min    0.000000e+00
25%    0.000000e+00
50%    4.850000e+05
75%    9.700000e+05
max    2.142000e+08

Number of missing values per column :
Borough                             389
Neighborhood                        389
Building Class Category             389
Tax Class At Present                405
Block                               389
Lot                                 389
Ease-Ment                         23665
Building Class At Present           405
Address                             389
Apartment Number                  17582
Zip Code                            389
Residential Units                  3024
Commercial Units                   3024
Total Units                        3024
Land Square Feet                   3024
Gross Square Feet                  3024
Year Built                         1989
Tax Class At Time Of Sale           389
Building Class At Time Of Sale      389
Sale Price                          389
Sale Date                           389
dtype: int64

In [40]:
print("Colonnes disponibles :")
print(df_airbnb.columns.tolist())

Colonnes disponibles :
['Borough', 'Neighborhood', 'Building Class Category', 'Tax Class At Present', 'Block', 'Lot', 'Ease-Ment', 'Building Class At Present', 'Address', 'Apartment Number', 'Zip Code', 'Residential Units', 'Commercial Units', 'Total Units', 'Land Square Feet', 'Gross Square Feet', 'Year Built', 'Tax Class At Time Of Sale', 'Building Class At Time Of Sale', 'Sale Price', 'Sale Date']

In [41]:
print("Colonnes disponibles :")
print(df_Brooklyn_Property_Sales.columns.tolist())

Colonnes disponibles :
['Borough', 'Neighborhood', 'Building Class Category', 'Tax Class At Present', 'Block', 'Lot', 'Ease-Ment', 'Building Class At Present', 'Address', 'Apartment Number', 'Zip Code', 'Residential Units', 'Commercial Units', 'Total Units', 'Land Square Feet', 'Gross Square Feet', 'Year Built', 'Tax Class At Time Of Sale', 'Building Class At Time Of Sale', 'Sale Price', 'Sale Date']

In [42]:
print("Colonnes disponibles :")
print(df_Manhattan_Property_Sales.columns.tolist())

Colonnes disponibles :
['Borough', 'Neighborhood', 'Building Class Category', 'Tax Class As Of Final Roll 18/1', 'Block', 'Lot', 'Ease-Ment', 'Building Class As Of Final Roll 18/1', 'Address', 'Apartment Number', 'Zip Code', 'Residential Units', 'Commercial Units', 'Total Units', 'Land Square Feet', 'Gross Square Feet', 'Year Built', 'Tax Class At Time Of Sale', 'Building Class At Time Of Sale', 'Sale Price', 'Sale Date']

In [48]:
import pandas as pd

# 1. Vérification du fichier chargé
print('Check file uploaded:')
print(df_airbnb.head(2))  # Vérification des données Airbnb

# 2. Chargement du fichier Airbnb (version corrigée)
correct_airbnb_path = r'C:\Users\proprietaire\Desktop\PROJETS DATA (PERSOS)\AB_NYC_2019.csv'
try:
    df_airbnb = pd.read_csv(correct_airbnb_path)
    print('Airbnb dataset correctly loaded')
except FileNotFoundError:
    print('Error: Airbnb file not found at specified location')

# 3. Traitement des données Airbnb
if 'price' in df_airbnb.columns:  # Note: dans Airbnb c'est 'price' (minuscule)
    # Nettoyage des prix (expression régulière corrigée)
    df_airbnb['price'] = df_airbnb['price'].replace('[^\d.]', '', regex=True).astype(float)
    print('Prices cleaned successfully')

Check file uploaded:
     id                                name  host_id host_name  \
0  2539  Clean & quiet apt home by the park     2787      John
1  2595               Skylit Midtown Castle     2845  Jennifer

  neighbourhood_group neighbourhood  latitude  longitude        room_type  \
0            Brooklyn    Kensington  40.64749  -73.97237     Private room
1           Manhattan       Midtown  40.75362  -73.98377  Entire home/apt

   price  minimum_nights  number_of_reviews last_review  reviews_per_month  \
0    149               1                  9  2018-10-19               0.21
1    225               1                 45  2019-05-21               0.38

   calculated_host_listings_count  availability_365
0                               6               365
1                               2               355
Airbnb dataset correctly loaded
Prices cleaned successfully

<>:18: SyntaxWarning: invalid escape sequence '\d'
<>:18: SyntaxWarning: invalid escape sequence '\d'
C:\Users\proprietaire\AppData\Local\Temp\ipykernel_5036\3761291808.py:18: SyntaxWarning: invalid escape sequence '\d'
  df_airbnb['price'] = df_airbnb['price'].replace('[^\d.]', '', regex=True).astype(float)

In [50]:
if df_airbnb is not None:
    print('\n--- Handling missing values ---')
    
    # Checks whether the column exists before modifying it
    if 'reviews_per_month' in df_airbnb.columns:
        df_airbnb = df_airbnb.assign(
            reviews_per_month=df_airbnb['reviews_per_month'].fillna(0),
            last_review=df_airbnb['last_review'].fillna(pd.NaT)  # Example for another column
        )
        print('Missing values handled successfully')
    else:
        print("'reviews_per_month' column not found")

--- Handling missing values ---
Missing values handled successfully

In [52]:
# --- Previous processing code ---
if df_airbnb is not None:
    print('\n--- Handling missing values ---')
    if 'reviews_per_month' in df_airbnb.columns:
        df_airbnb['reviews_per_month'] = df_airbnb['reviews_per_month'].fillna(0)

# Check missing values after processing (correct indentation)
print('\nMissing values after Airbnb processing:')
print(df_airbnb.isnull().sum())

--- Handling missing values ---

Missing values after Airbnb processing:
id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [60]:
# --- Handling missing values ---
if df_Manhattan_Property_Sales is not None:
    print('\n--- Handling missing Manhattan Property Sales values ---')

    # Check column name (corrected from 'Columns' to 'columns')
    price_column = 'Sale Price' if 'Sale Price' in df_Manhattan_Property_Sales.columns else 'SALE PRICE'

    # Copy the DataFrame to avoid warnings
    df_clean = df_Manhattan_Property_Sales.copy()
    initial_rows = df_clean.shape[0]

    # 1. Delete rows with no sale price
    df_clean = df_clean.dropna(subset=[price_column])

    # 2. Delete rows with price = 0 (corrected syntax)
    df_clean = df_clean[df_clean[price_column] > 0]

    # 3. Optional area management (corrected quotes and indentation)
    if 'GROSS SQUARE FEET' in df_clean.columns:
        df_clean = df_clean.query('`GROSS SQUARE FEET` > 0')

    # Calculation of deleted lines (fixed f-string)
    deleted_rows = initial_rows - df_clean.shape[0]
    print(f'Lines deleted because "{price_column}" is missing or 0: {deleted_rows}')

    # Final check (fixed quotes)
    print('\nMissing values after processing:')
    print(df_clean.isnull().sum())

    # Reassign the cleaned DataFrame
    df_Manhattan_Property_Sales = df_clean

--- Handling missing Manhattan Property Sales values ---
Lines deleted because "Sale Price" is missing or 0: 0

Missing values after processing:
Borough                                     0
Neighborhood                                0
Building Class Category                     0
Tax Class As Of Final Roll 18/1             9
Block                                       0
Lot                                         0
Ease-Ment                               13820
Building Class As Of Final Roll 18/1        9
Address                                     0
Apartment Number                         7658
Zip Code                                    0
Residential Units                        6631
Commercial Units                         6631
Total Units                              6631
Land Square Feet                         6631
Gross Square Feet                        6631
Year Built                               1329
Tax Class At Time Of Sale                   0
Building Class At Time Of Sale              0
Sale Price                                  0
Sale Date                                   0
dtype: int64

In [61]:
# --- Handling missing values ---
if df_Brooklyn_Property_Sales is not None:
    print('\n--- Handling missing Brooklyn Property Sales values ---')

    # Check column name (corrected from 'Columns' to 'columns')
    price_column = 'Sale Price' if 'Sale Price' in df_Brooklyn_Property_Sales.columns else 'SALE PRICE'

    # Copy the DataFrame to avoid warnings
    df_clean = df_Brooklyn_Property_Sales.copy()
    initial_rows = df_clean.shape[0]

    # 1. Delete rows with no sale price
    df_clean = df_clean.dropna(subset=[price_column])

    # 2. Delete rows with price = 0 (corrected syntax)
    df_clean = df_clean[df_clean[price_column] > 0]

    # 3. Optional area management (corrected quotes and indentation)
    if 'GROSS SQUARE FEET' in df_clean.columns:
        df_clean = df_clean.query('`GROSS SQUARE FEET` > 0')

    # Calculation of deleted lines (fixed f-string)
    deleted_rows = initial_rows - df_clean.shape[0]
    print(f'Lines deleted because "{price_column}" is missing or 0: {deleted_rows}')

    # Final check (fixed quotes)
    print('\nMissing values after processing:')
    print(df_clean.isnull().sum())

    # Reassign the cleaned DataFrame
    df_Brooklyn_Property_Sales = df_clean

--- Handling missing Brooklyn Property Sales values ---
Lines deleted because "Sale Price" is missing or 0: 8638

Missing values after processing:
Borough                               0
Neighborhood                          0
Building Class Category               0
Tax Class At Present                 13
Block                                 0
Lot                                   0
Ease-Ment                         15027
Building Class At Present            13
Address                               0
Apartment Number                  10318
Zip Code                              0
Residential Units                  2249
Commercial Units                   2249
Total Units                        2249
Land Square Feet                   2249
Gross Square Feet                  2249
Year Built                         1117
Tax Class At Time Of Sale             0
Building Class At Time Of Sale        0
Sale Price                            0
Sale Date                             0
dtype: int64

In [63]:
# --- Duplicate management ---
if df_airbnb is not None:
    print("\n--- Airbnb duplicate management ---")
    initial_rows_airbnb = df_airbnb.shape[0]  # Ajout de [0] pour obtenir le nombre de lignes
    df_airbnb.drop_duplicates(inplace=True)
    print(f"Number of duplicates deleted (Airbnb): {initial_rows_airbnb - df_airbnb.shape[0]}")

--- Airbnb duplicate management ---
Number of duplicates deleted (Airbnb): 0

In [66]:
# --- Duplicate management ---
if df_Brooklyn_Property_Sales is not None:
    print("\n--- Brooklyn duplicate management ---")
    initial_rows_Brooklyn_Property_Sales = df_Brooklyn_Property_Sales.shape[0]  # Add [0] to obtain the number of lines
    df_Brooklyn_Property_Sales.drop_duplicates(inplace=True)
    print(f"Number of duplicates deleted (Brooklyn Property Sales): {initial_rows_Brooklyn_Property_Sales - df_Brooklyn_Property_Sales.shape[0]}")

--- Brooklyn duplicate management ---
Number of duplicates deleted (Brooklyn Property Sales): 0

In [65]:
# --- Duplicate management ---
if df_Manhattan_Property_Sales is not None:
    print("\n--- Manhattan_Property_Sales duplicate management ---")
    initial_rows_Manhattan_Property_Sales = df_Manhattan_Property_Sales.shape[0]  # Add [0] to obtain the number of lines
    df_Manhattan_Property_Sales.drop_duplicates(inplace=True)
    print(f"Number of duplicates deleted (Manhattan Property Sales): {initial_rows_Manhattan_Property_Sales - df_Manhattan_Property_Sales.shape[0]}")

--- Manhattan_Property_Sales duplicate management ---
Number of duplicates deleted (Manhattan Property Sales): 3

In [67]:
# --- Correction of Airbnb data types ---
if df_airbnb is not None:
 print("\n--- Correction of Airbnb data types ---")
    # Important numeric columns [3]: price, minimum_nights, number_of_reviews, reviews_per_month, calculated_host_listings_count, availability_365
    # These should already be numeric, but a check is useful.
    # If this is not the case, you could use pd.to_numeric(errors=“coerce”)
    # Example (probably not necessary if the CSV is clean, but good practice):
    # df_airbnb[“price”] = pd.to_numeric(df_airbnb[“price”], errors=“coerce”)
    # df_airbnb[“availability_365”] = pd.to_numeric(df_airbnb[“availability_365”], errors=“coerce”)

    # Check types after transformation
 print(df_airbnb.info())

--- Correction of Airbnb data types ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  float64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               48895 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(4), int64(6), object(6)
memory usage: 6.0+ MB
None

In [72]:
# --- Correction of Manhattan Property Sales data types ---
if df_Manhattan_Property_Sales is not None:
    print("\n--- Correction of Manhattan Property Sales data types ---")
    # Important columns: SALE PRICE, SALE DATE, GROSS SQUARE FEET, LAND SQUARE FEET
    # SALE PRICE' and areas can be objects (strings) because of formatting ($, commas, spaces, NaN)
    # 'SALE DATE' is probably a string

    columns_to_numeric = ['SALE PRICE', 'GROSS SQUARE FEET', 'LAND SQUARE FEET'] # Adapt if other surface columns exist

    for col in columns_to_numeric:
        if col in df_Manhattan_Property_Sales.columns:
            # Clean up strings (remove $, ',', etc. and deal with empty spaces)
            df_Manhattan_Property_Sales[col] = df_Manhattan_Property_Sales[col].astype(str).str.replace(r"[$, -]", '', regex=True)
            # Convert to numeric (non-convertible values become NaN)
            df_Manhattan_Property_Sales[col] = pd.to_numeric(df_Manhattan_Property_Sales[col], errors='coerce')

    # Optional: Convert SALE DATE to datetime
    if 'SALE DATE' in df_Manhattan_Property_Sales.columns:
        df_Manhattan_Property_Sales['SALE DATE'] = pd.to_datetime(df_Manhattan_Property_Sales['SALE DATE'], errors='coerce')
    
    # Check types after transformation
    print("\nData types after conversion:")
    print(df_Manhattan_Property_Sales.info())

--- Correction of Manhattan Property Sales data types ---

Data types after conversion:
<class 'pandas.core.frame.DataFrame'>
Index: 13817 entries, 0 to 17582
Data columns (total 21 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Borough                               13817 non-null  int64
 1   Neighborhood                          13817 non-null  object
 2   Building Class Category               13817 non-null  object
 3   Tax Class As Of Final Roll 18/1       13808 non-null  object
 4   Block                                 13817 non-null  int64
 5   Lot                                   13817 non-null  int64
 6   Ease-Ment                             0 non-null      float64
 7   Building Class As Of Final Roll 18/1  13808 non-null  object
 8   Address                               13817 non-null  object
 9   Apartment Number                      6161 non-null   object
 10  Zip Code                              13817 non-null  int64
 11  Residential Units                     7187 non-null   float64
 12  Commercial Units                      7187 non-null   float64
 13  Total Units                           7187 non-null   float64
 14  Land Square Feet                      7187 non-null   float64
 15  Gross Square Feet                     7187 non-null   float64
 16  Year Built                            12488 non-null  float64
 17  Tax Class At Time Of Sale             13817 non-null  int64
 18  Building Class At Time Of Sale        13817 non-null  object
 19  Sale Price                            13817 non-null  int64
 20  Sale Date                             13817 non-null  object
dtypes: float64(7), int64(6), object(8)
memory usage: 2.3+ MB
None

In [73]:
# --- Correction of Brooklyn Property Sales data types ---
if df_Brooklyn_Property_Sales is not None:
    print("\n--- Correction of Manhattan Property Sales data types ---")
    # Important columns: SALE PRICE, SALE DATE, GROSS SQUARE FEET, LAND SQUARE FEET
    # SALE PRICE' and areas can be objects (strings) because of formatting ($, commas, spaces, NaN)
    # 'SALE DATE' is probably a string

    columns_to_numeric = ['SALE PRICE', 'GROSS SQUARE FEET', 'LAND SQUARE FEET'] # Adapt if other surface columns exist

    for col in columns_to_numeric:
        if col in df_Brooklyn_Property_Sales.columns:
            # Clean up strings (remove $, ',', etc. and deal with empty spaces)
            df_Brooklyn_Property_Sales[col] = df_Brooklyn_Property_Sales[col].astype(str).str.replace(r"[$, -]", '', regex=True)
            # Convert to numeric (non-convertible values become NaN)
            df_Brooklyn_Property_Sales[col] = pd.to_numeric(df_Brooklyn_Property_Sales[col], errors='coerce')
            
    # Optional: Convert SALE DATE to datetime
    if 'SALE DATE' in df_Brooklyn_Property_Sales.columns:
        df_Brooklyn_Property_Sales['SALE DATE'] = pd.to_datetime(df_Brooklyn_Property_Sales['SALE DATE'], errors='coerce')
    
    # Check types after transformation
    print("\nData types after conversion:")
    print(df_Brooklyn_Property_Sales.info())

--- Correction of Manhattan Property Sales data types ---

Data types after conversion:
<class 'pandas.core.frame.DataFrame'>
Index: 15019 entries, 4 to 23275
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Borough                         15019 non-null  float64
 1   Neighborhood                    15019 non-null  object
 2   Building Class Category         15019 non-null  object
 3   Tax Class At Present            15006 non-null  object
 4   Block                           15019 non-null  float64
 5   Lot                             15019 non-null  float64
 6   Ease-Ment                       0 non-null      float64
 7   Building Class At Present       15006 non-null  object
 8   Address                         15019 non-null  object
 9   Apartment Number                4709 non-null   object
 10  Zip Code                        15019 non-null  float64
 11  Residential Units               12772 non-null  float64
 12  Commercial Units                12772 non-null  float64
 13  Total Units                     12772 non-null  float64
 14  Land Square Feet                12772 non-null  float64
 15  Gross Square Feet               12772 non-null  float64
 16  Year Built                      13902 non-null  float64
 17  Tax Class At Time Of Sale       15019 non-null  float64
 18  Building Class At Time Of Sale  15019 non-null  object
 19  Sale Price                      15019 non-null  float64
 20  Sale Date                       15019 non-null  object
dtypes: float64(13), object(8)
memory usage: 2.5+ MB
None

In [77]:
# Convert 'SALE DATE' to datetime
if 'SALE DATE' in df_Manhattan_Property_Sales.columns:
    df_Manhattan_Property_Sales['SALE DATE'] = pd.to_datetime(df_Manhattan_Property_Sales['SALE DATE'], errors='coerce')

# After conversion, manage missing values (NaNs)
if 'SALE PRICE' in df_Manhattan_Property_Sales.columns:
    # 1. Delete rows where SALE PRICE is NaN
    df_Manhattan_Property_Sales.dropna(subset=['SALE PRICE'], inplace=True)
    
    # 2. Keep only rows with price > 0
    df_Manhattan_Property_Sales = df_Manhattan_Property_Sales[df_Manhattan_Property_Sales['SALE PRICE'] > 0]

# Surface management
if 'GROSS SQUARE FEET' in df_Manhattan_Property_Sales.columns:
    df_Manhattan_Property_Sales['GROSS SQUARE FEET'].fillna(0, inplace=True)

# Final check
print("\nData types after cleaning:")
print(df_Manhattan_Property_Sales.info())

Data types after cleaning:
<class 'pandas.core.frame.DataFrame'>
Index: 13817 entries, 0 to 17582
Data columns (total 21 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Borough                               13817 non-null  int64
 1   Neighborhood                          13817 non-null  object
 2   Building Class Category               13817 non-null  object
 3   Tax Class As Of Final Roll 18/1       13808 non-null  object
 4   Block                                 13817 non-null  int64
 5   Lot                                   13817 non-null  int64
 6   Ease-Ment                             0 non-null      float64
 7   Building Class As Of Final Roll 18/1  13808 non-null  object
 8   Address                               13817 non-null  object
 9   Apartment Number                      6161 non-null   object
 10  Zip Code                              13817 non-null  int64
 11  Residential Units                     7187 non-null   float64
 12  Commercial Units                      7187 non-null   float64
 13  Total Units                           7187 non-null   float64
 14  Land Square Feet                      7187 non-null   float64
 15  Gross Square Feet                     7187 non-null   float64
 16  Year Built                            12488 non-null  float64
 17  Tax Class At Time Of Sale             13817 non-null  int64
 18  Building Class At Time Of Sale        13817 non-null  object
 19  Sale Price                            13817 non-null  int64
 20  Sale Date                             13817 non-null  object
dtypes: float64(7), int64(6), object(8)
memory usage: 2.3+ MB
None

In [78]:
# Convert 'SALE DATE' to datetime
if 'SALE DATE' in df_Brooklyn_Property_Sales.columns:
    df_Brooklyn_Property_Sales['SALE DATE'] = pd.to_datetime(df_Brooklyn_Property_Sales['SALE DATE'], errors='coerce')

# After conversion, manage missing values (NaNs)
if 'SALE PRICE' in df_Brooklyn_Property_Sales.columns:
    # 1. Delete rows where SALE PRICE is NaN
    df_Brooklyn_Property_Sales.dropna(subset=['SALE PRICE'], inplace=True)
    
    # 2. Keep only rows with price > 0
    df_Brooklyn_Property_Sales = df_Brooklyn_Property_Sales[df_Brooklyn_Property_Sales['SALE PRICE'] > 0]

# Surface management
if 'GROSS SQUARE FEET' in df_Brooklyn_Property_Sales.columns:
    df_BrooklynProperty_Sales['GROSS SQUARE FEET'].fillna(0, inplace=True)

# Final check
print("\nData types after cleaning:")
print(df_Brooklyn_Property_Sales.info())

Data types after cleaning:
<class 'pandas.core.frame.DataFrame'>
Index: 15019 entries, 4 to 23275
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Borough                         15019 non-null  float64
 1   Neighborhood                    15019 non-null  object
 2   Building Class Category         15019 non-null  object
 3   Tax Class At Present            15006 non-null  object
 4   Block                           15019 non-null  float64
 5   Lot                             15019 non-null  float64
 6   Ease-Ment                       0 non-null      float64
 7   Building Class At Present       15006 non-null  object
 8   Address                         15019 non-null  object
 9   Apartment Number                4709 non-null   object
 10  Zip Code                        15019 non-null  float64
 11  Residential Units               12772 non-null  float64
 12  Commercial Units                12772 non-null  float64
 13  Total Units                     12772 non-null  float64
 14  Land Square Feet                12772 non-null  float64
 15  Gross Square Feet               12772 non-null  float64
 16  Year Built                      13902 non-null  float64
 17  Tax Class At Time Of Sale       15019 non-null  float64
 18  Building Class At Time Of Sale  15019 non-null  object
 19  Sale Price                      15019 non-null  float64
 20  Sale Date                       15019 non-null  object
dtypes: float64(13), object(8)
memory usage: 2.5+ MB
None

In [79]:
# --- Dealing with inconsistencies and standardisation ---
if df_airbnb is not None:
 print("\n--- Standardisation Airbnb ---")
    # Standardise the names of neighbourhoods and boroughs (“neighbourhood_group”) [3]
    # Convert to lower case and remove leading/leading white space
 df_airbnb['neighbourhood'] = df_airbnb['neighbourhood'].str.strip().str.lower()
 df_airbnb['neighbourhood_group'] = df_airbnb['neighbourhood_group'].str.strip().str.lower()

    # You might want to check the unique values to identify typos or variations
    # print(df_airbnb[“neighbourhood”].unique())
    # print(df_airbnb[“neighbourhood_group”].unique())
    # Use .replace() if manual corrections are required [my previous response]

--- Standardisation Airbnb ---

In [83]:
# --- Standardisation Manhattan Property Sales ---
if df_Manhattan_Property_Sales is not None:
    print("\n--- Standardisation Manhattan Property Sales ---")
    
    # Checking column names
    neighborhood_col = 'NEIGHBORHOOD' if 'NEIGHBORHOOD' in df_Manhattan_Property_Sales.columns else 'Neighborhood'
    borough_col = 'BOROUGH' if 'BOROUGH' in df_Manhattan_Property_Sales.columns else 'Borough'
    
    # Standardisation of district names
    if neighborhood_col in df_Manhattan_Property_Sales.columns:
        df_Manhattan_Property_Sales[neighborhood_col] = df_Manhattan_Property_Sales[neighborhood_col].str.strip().str.lower()
    
    # Standardisation of borough names
    if borough_col in df_Manhattan_Property_Sales.columns:
        # Conversion to string and cleaning
        df_Manhattan_Property_Sales[borough_col] = df_Manhattan_Property_Sales[borough_col].astype(str).str.strip().str.lower()
        
        # Mapping numeric codes to names
        borough_mapping = {
            '1': 'manhattan',
            '2': 'bronx', 
            '3': 'brooklyn',
            '4': 'queens',
            '5': 'staten island'
        }
        df_Manhattan_Property_Sales[borough_col] = df_Manhattan_Property_Sales[borough_col].replace(borough_mapping)
    
    # Display of single values for verification
    print("\nSingle values after standardisation:")
    if neighborhood_col in df_Manhattan_Property_Sales.columns:
        print("Neighbourhoods:", df_Manhattan_Property_Sales[neighborhood_col].unique()[:10])  # Displays the top 10
    if borough_col in df_Manhattan_Property_Sales.columns:
        print("Boroughs:", df_Manhattan_Property_Sales[borough_col].unique())

--- Standardisation Manhattan Property Sales ---

Single values after standardisation:
Neighbourhoods: ['alphabet city' 'chelsea' 'chinatown' 'civic center' 'clinton'
 'east village' 'fashion' 'financial' 'flatiron' 'gramercy']
Boroughs: ['manhattan']

In [84]:
# --- Standardisation Brooklyn Property Sales ---
if df_Brooklyn_Property_Sales is not None:
    print("\n--- Standardisation Brooklyn Property Sales ---")
    
    # Checking column names
    neighborhood_col = 'NEIGHBORHOOD' if 'NEIGHBORHOOD' in df_Brooklyn_Property_Sales.columns else 'Neighborhood'
    borough_col = 'BOROUGH' if 'BOROUGH' in df_Brooklyn_Property_Sales.columns else 'Borough'
    
    # Standardisation des noms de quartiers
    if neighborhood_col in df_Brooklyn_Property_Sales.columns:
        df_Brooklyn_Property_Sales[neighborhood_col] = df_Brooklyn_Property_Sales[neighborhood_col].str.strip().str.lower()
    
    # Standardisation of district names
    if borough_col in df_Brooklyn_Property_Sales.columns:
        # Conversion to string and cleaning
        df_Brooklyn_Property_Sales[borough_col] = df_Brooklyn_Property_Sales[borough_col].astype(str).str.strip().str.lower()
        
        # Mapping numeric codes to names
        borough_mapping = {
            '1': 'manhattan',
            '2': 'bronx', 
            '3': 'brooklyn',
            '4': 'queens',
            '5': 'staten island'
        }
        df_Brooklyn_Property_Sales[borough_col] = df_Brooklyn_Property_Sales[borough_col].replace(borough_mapping)
    
    # Display of single values for verification
    print("\nSingle values after standardisation:")
    if neighborhood_col in df_Brooklyn_Property_Sales.columns:
        print("Neighbourhoods:", df_Brooklyn_Property_Sales[neighborhood_col].unique()[:10])  # Display the top 10
    if borough_col in df_Brooklyn_Property_Sales.columns:
        print("Boroughs:", df_Brooklyn_Property_Sales[borough_col].unique())

--- Standardisation Brooklyn Property Sales ---

Single values after standardisation:
Neighbourhoods: ['bath beach' 'bay ridge' 'bedford stuyvesant' 'bensonhurst'
 'bergen beach' 'boerum hill' 'borough park' 'brighton beach'
 'brooklyn heights' 'brownsville']
Boroughs: ['3.0']

In [85]:
# --- Identifying and managing outliers ---
# Outliers are common in prices (Airbnb and sales) and surfaces. [3, 4, 6, 7]
# The approach (remove, transform, or leave) depends on the analysis.
# For ROI calculations, extreme sale or rental prices can distort averages. [6, 7]

if df_airbnb is not None:
 print("\n--- Analysis of Airbnb outliers ---")
    # Analyse 'price
    # You could use a boxplot to visualise (requires matplotlib/seaborn) [my previous response]
    # import matplotlib.pyplot as plt
    # import seaborn as sns
    # sns.boxplot(x=df_airbnb[“price”])
    # plt.show()

    # Identify extreme values (e.g. price > 10000 or very low <= 10)
    # print(df_airbnb[df_airbnb[“price”] > 10000].shape)
    # print(df_airbnb[df_airbnb[“price”] <= 10].shape)

    # Decision: Remove prices considered unrealistic for a standard analysis
 df_airbnb = df_airbnb[(df_airbnb['price'] > 10) & (df_airbnb['price'] < 10000)] # Example of thresholds, to be adjusted

--- Analysis of Airbnb outliers ---

In [88]:
if df_Brooklyn_Property_Sales is not None:
 print("\n--- Analysis of Brooklyn_Property_Sales outliers ---")
    # Analyse “SALE PRICE” and surface columns (“GROSS SQUARE FEET”, etc.) [4, 6, 7].
    # Visualise with boxplots if possible.
    # sns.boxplot(x=df_Brooklyn_Property_Sales[“SALE PRICE”])
    # plt.show()

    # Identify extreme values. Very low or very high prices often require investigation.
    # print(df_Brooklyn_Property_Sales[df_Brooklyn_Property_Sales[“SALE PRICE”] > 10000000].shape) # Example of a threshold for very high values
    # print(df_Brooklyn_Property_Sales[df_Brooklyn_Property_Sales[“GROSS SQUARE FEET”] > 10000].shape) # Example of threshold for large surfaces

    # Decision: Delete lines with sales prices or surface areas that seem unrealistic
    # df_Brooklyn_Property_Sales = df_Brooklyn_Property_Sales[df_Brooklyn_Property_Sales[“SALE PRICE”] < 100000000] # Example of removing extremely high prices
    # df_Brooklyn_Property_Sales = df_Brooklyn_Property_Sales[df_Brooklyn_Property_Sales[“GROSS SQUARE FEET”] < 100000] # Example of the removal of extremely large areas

--- Analysis of Brooklyn_Property_Sales outliers ---

In [87]:
if df_Manhattan_Property_Sales is not None:
 print("\n--- Analysis of Manhattan_Property_Sales outliers ---")
    # Analyse “SALE PRICE” and surface columns (“GROSS SQUARE FEET”, etc.) [4, 6, 7].
    # Visualise with boxplots if possible.
    # sns.boxplot(x=df_Manhattan_Property_Sales[“SALE PRICE”])
    # plt.show()

    # Identify extreme values. Very low or very high prices often require investigation.
    # print(df_Manhattan_Property_Sales[df_Manhattan_Property_Sales[“SALE PRICE”] > 10000000].shape) # Example of a threshold for very high values
    # print(df_Manhattan_Property_Sales[df_Manhattan_Property_Sales[“GROSS SQUARE FEET”] > 10000].shape) # Example of threshold for large surfaces

    # Decision: Delete lines with sales prices or surface areas that seem unrealistic
    # df_Manhattan_Property_Sales = df_Manhattan_Property_Sales[df_Manhattan_Property_Sales[“SALE PRICE”] < 100000000] # Example of removing extremely high prices
    # df_Manhattan_Property_Sales = df_Manhattan_Property_Sales[df_Manhattan_Property_Sales[“GROSS SQUARE FEET”] < 100000] # Example of the removal of extremely large areas

--- Analysis of Manhattan_Property_Sales outliers ---

In [89]:
# --- Final preparation ---
# Rename columns if necessary for clarity or SQL compatibility
if df_airbnb is not None:
 df_airbnb.rename(columns={'neighbourhood_group': 'borough'}, inplace=True) # Potentially align with other dataset name [4]

In [91]:
if df_Brooklyn_Property_Sales is not None:
    df_Brooklyn_Property_Sales.rename(columns={'BOROUGH': 'borough', 'NEIGHBORHOOD': 'neighbourhood'}, inplace=True) # Aligner potentiellement les noms [3]

In [92]:
if df_Manhattan_Property_Sales is not None:
    df_Manhattan_Property_Sales.rename(columns={'BOROUGH': 'borough', 'NEIGHBORHOOD': 'neighbourhood'}, inplace=True) # Aligner potentiellement les noms [3]

In [95]:
# Select only the columns needed for analysis and ROI calculation
if df_airbnb is not None:
    airbnb_cols_for_analysis = [
        'id', 
        'name', 
        'host_id', 
        'borough', 
        'neighbourhood', 
        'latitude', 
        'longitude',
        'room_type', 
        'price', 
        'minimum_nights', 
        'number_of_reviews',
        'reviews_per_month', 
        'calculated_host_listings_count', 
        'availability_365'
    ]
    df_airbnb_cleaned = df_airbnb[airbnb_cols_for_analysis]

In [98]:
if df_Manhattan_Property_Sales is not None:
    Manhattan_Property_Sales_cols_for_analysis = ['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'SALE DATE', 'SALE PRICE',
                                  'GROSS SQUARE FEET', 'LAND SQUARE FEET'] # [4] and potentially useful columns for the cost of acquisition [6, 7].
    # Use the original or renamed column names from the previous step
    Manhattan_Property_Sales_cols_for_analysis_renamed = ['borough', 'neighbourhood', 'BUILDING CLASS CATEGORY', 'SALE DATE', 'SALE PRICE',
                                           'GROSS SQUARE FEET', 'LAND SQUARE FEET']
    # Make sure that the renamed columns exist before selecting
    cols_to_select = [col for col in Manhattan_Property_Sales_cols_for_analysis_renamed if col in df_Manhattan_Property_Sales.columns]
    df_Manhattan_Property_Salescleaned = df_Manhattan_Property_Sales[cols_to_select]

In [99]:
if df_Brooklyn_Property_Sales is not None:
    Brooklyn_Property_Sales_cols_for_analysis = ['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'SALE DATE', 'SALE PRICE',
                                  'GROSS SQUARE FEET', 'LAND SQUARE FEET'] # [4] and potentially useful columns for the cost of acquisition [6, 7].
   # Use the original or renamed column names from the previous step
    Brooklyn_Property_Sales_cols_for_analysis_renamed = ['borough', 'neighbourhood', 'BUILDING CLASS CATEGORY', 'SALE DATE', 'SALE PRICE',
                                           'GROSS SQUARE FEET', 'LAND SQUARE FEET']
    # Make sure that the renamed columns exist before selecting
    cols_to_select = [col for col in Brooklyn_Property_Sales_cols_for_analysis_renamed if col in df_Brooklyn_Property_Sales.columns]
    df_Brooklyn_Property_Salescleaned = df_Brooklyn_Property_Sales[cols_to_select]

In [102]:
# Display a preview of the cleaned data
if df_airbnb is not None:
    print("\n--- Dataset Airbnb cleaned (preview) ---")
    print(df_airbnb_cleaned.head())
    print(df_airbnb_cleaned.info()) # Check the final types

if df_Brooklyn_Property_Sales is not None:
    print("\n--- Dataset Brooklyn Property Sales cleaned (preview) ---")
    # Use the original or cleaned dataframe depending on what you actually have
    print(df_Brooklyn_Property_Sales.head())  # or the correct name of your cleaned dataframe
    print(df_Brooklyn_Property_Sales.info())

if df_Manhattan_Property_Sales is not None:  
    print("\n--- Dataset Manhattan Property Sales cleaned (preview) ---")
    print(df_Manhattan_Property_Sales.head())  
    print(df_Manhattan_Property_Sales.info())

# Optional backup
# if 'df_airbnb_cleaned' in locals():
#     df_airbnb_cleaned.to_csv("airbnb_cleaned.csv", index=False)
# if 'df_Manhattan_Property_Sales' in locals():
#     df_Manhattan_Property_Sales.to_csv("manhattan_properties_cleaned.csv", index=False)
# if 'df_Brooklyn_Property_Sales' in locals():
#     df_Brooklyn_Property_Sales.to_csv("brooklyn_properties_cleaned.csv", index=False)

--- Dataset Airbnb cleaned (preview) ---
     id                                              name  host_id    borough  \
0  2539                Clean & quiet apt home by the park     2787   brooklyn
1  2595                             Skylit Midtown Castle     2845  manhattan
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632  manhattan
3  3831                   Cozy Entire Floor of Brownstone     4869   brooklyn
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192  manhattan

  neighbourhood  latitude  longitude        room_type  price  minimum_nights  \
0    kensington  40.64749  -73.97237     Private room  149.0               1
1       midtown  40.75362  -73.98377  Entire home/apt  225.0               1
2        harlem  40.80902  -73.94190     Private room  150.0               3
3  clinton hill  40.68514  -73.95976  Entire home/apt   89.0               1
4   east harlem  40.79851  -73.94399  Entire home/apt   80.0              10

   number_of_reviews  reviews_per_month  calculated_host_listings_count  \
0                  9               0.21                               6
1                 45               0.38                               2
2                  0               0.00                               1
3                270               4.64                               1
4                  9               0.10                               1

   availability_365
0               365
1               355
2               365
3               194
4                 0
<class 'pandas.core.frame.DataFrame'>
Index: 48864 entries, 0 to 48894
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48864 non-null  int64
 1   name                            48848 non-null  object
 2   host_id                         48864 non-null  int64
 3   borough                         48864 non-null  object
 4   neighbourhood                   48864 non-null  object
 5   latitude                        48864 non-null  float64
 6   longitude                       48864 non-null  float64
 7   room_type                       48864 non-null  object
 8   price                           48864 non-null  float64
 9   minimum_nights                  48864 non-null  int64
 10  number_of_reviews               48864 non-null  int64
 11  reviews_per_month               48864 non-null  float64
 12  calculated_host_listings_count  48864 non-null  int64
 13  availability_365                48864 non-null  int64
dtypes: float64(4), int64(6), object(4)
memory usage: 5.6+ MB
None

--- Dataset Brooklyn Property Sales cleaned (preview) ---
   Borough Neighborhood  Building Class Category Tax Class At Present   Block  \
4      3.0   bath beach  01 ONE FAMILY DWELLINGS                    1  6367.0
5      3.0   bath beach  01 ONE FAMILY DWELLINGS                    1  6367.0
8      3.0   bath beach  01 ONE FAMILY DWELLINGS                    1  6377.0
10     3.0   bath beach  01 ONE FAMILY DWELLINGS                    1  6397.0
11     3.0   bath beach  01 ONE FAMILY DWELLINGS                    1  6401.0

     Lot  Ease-Ment Building Class At Present             Address  \
4   42.0        NaN                        S1    1730 86TH STREET
5   43.0        NaN                        S1    1732 86TH STREET
8   32.0        NaN                        A9  23 BAY 26TH STREET
10  63.0        NaN                        A2   132 BAY 13 STREET
11  10.0        NaN                        S1    1725 BATH AVENUE

   Apartment Number  ...  Residential Units  Commercial Units  Total Units  \
4               NaN  ...                1.0               1.0          2.0
5               NaN  ...                1.0               1.0          2.0
8               NaN  ...                1.0               0.0          1.0
10              NaN  ...                1.0               0.0          1.0
11              NaN  ...                1.0               1.0          2.0

    Land Square Feet  Gross Square Feet  Year Built  \
4             1342.0             1920.0      1926.0
5             1342.0             1920.0      1926.0
8             3867.0             2288.0      1899.0
10            2708.0              730.0      1910.0
11            1160.0             2320.0      1920.0

    Tax Class At Time Of Sale  Building Class At Time Of Sale Sale Price  \
4                         1.0                              S1  1630000.0
5                         1.0                              S1  1630000.0
8                         1.0                              A9  1200000.0
10                        1.0                              A2  1150000.0
11                        1.0                              S1   980000.0

              Sale Date
4   2019-02-08 00:00:00
5   2019-02-08 00:00:00
8   2019-09-20 00:00:00
10  2019-03-28 00:00:00
11  2019-02-21 00:00:00

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 15019 entries, 4 to 23275
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Borough                         15019 non-null  object
 1   Neighborhood                    15019 non-null  object
 2   Building Class Category         15019 non-null  object
 3   Tax Class At Present            15006 non-null  object
 4   Block                           15019 non-null  float64
 5   Lot                             15019 non-null  float64
 6   Ease-Ment                       0 non-null      float64
 7   Building Class At Present       15006 non-null  object
 8   Address                         15019 non-null  object
 9   Apartment Number                4709 non-null   object
 10  Zip Code                        15019 non-null  float64
 11  Residential Units               12772 non-null  float64
 12  Commercial Units                12772 non-null  float64
 13  Total Units                     12772 non-null  float64
 14  Land Square Feet                12772 non-null  float64
 15  Gross Square Feet               12772 non-null  float64
 16  Year Built                      13902 non-null  float64
 17  Tax Class At Time Of Sale       15019 non-null  float64
 18  Building Class At Time Of Sale  15019 non-null  object
 19  Sale Price                      15019 non-null  float64
 20  Sale Date                       15019 non-null  object
dtypes: float64(12), object(9)
memory usage: 2.5+ MB
None

--- Dataset Manhattan Property Sales cleaned (preview) ---
     Borough   Neighborhood         Building Class Category  \
0  manhattan  alphabet city         01 ONE FAMILY DWELLINGS
3  manhattan  alphabet city       03 THREE FAMILY DWELLINGS
5  manhattan  alphabet city  07 RENTALS - WALKUP APARTMENTS
6  manhattan  alphabet city  07 RENTALS - WALKUP APARTMENTS
8  manhattan  alphabet city  07 RENTALS - WALKUP APARTMENTS

  Tax Class As Of Final Roll 18/1  Block  Lot  Ease-Ment  \
0                               1    376   43        NaN
3                               1    377   56        NaN
5                               2    372   23        NaN
6                               2    373   19        NaN
8                              2A    376   23        NaN

  Building Class As Of Final Roll 18/1                 Address  \
0                                   S1     743 EAST 6TH STREET
3                                   C0     263 EAST 7TH STREET
5                                   C1     300 EAST 3RD STREET
6                                   C7     332 EAST 4TH STREET
8                                   C3  262 EAST 7TH STREET, 4

  Apartment Number  ...  Residential Units  Commercial Units  Total Units  \
0              NaN  ...                1.0               1.0          2.0
3              NaN  ...                3.0               0.0          3.0
5              NaN  ...               12.0               0.0         12.0
6              NaN  ...               28.0               2.0         30.0
8              NaN  ...                4.0               0.0          4.0

   Land Square Feet  Gross Square Feet  Year Built  Tax Class At Time Of Sale  \
0            2090.0             3680.0      1940.0                          1
3            2430.0             3600.0      1899.0                          1
5            2393.0             7989.0      2001.0                          2
6            4651.0            17478.0      1920.0                          2
8            2059.0             4154.0      1900.0                          2

   Building Class At Time Of Sale Sale Price            Sale Date
0                              S1    3200000  2019-07-24 00:00:00
3                              C0    6300000  2019-04-30 00:00:00
5                              C1    1950000  2019-08-08 00:00:00
6                              C7   14000000  2019-01-09 00:00:00
8                              C3     600000  2019-12-12 00:00:00

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 13817 entries, 0 to 17582
Data columns (total 21 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Borough                               13817 non-null  object
 1   Neighborhood                          13817 non-null  object
 2   Building Class Category               13817 non-null  object
 3   Tax Class As Of Final Roll 18/1       13808 non-null  object
 4   Block                                 13817 non-null  int64
 5   Lot                                   13817 non-null  int64
 6   Ease-Ment                             0 non-null      float64
 7   Building Class As Of Final Roll 18/1  13808 non-null  object
 8   Address                               13817 non-null  object
 9   Apartment Number                      6161 non-null   object
 10  Zip Code                              13817 non-null  int64
 11  Residential Units                     7187 non-null   float64
 12  Commercial Units                      7187 non-null   float64
 13  Total Units                           7187 non-null   float64
 14  Land Square Feet                      7187 non-null   float64
 15  Gross Square Feet                     7187 non-null   float64
 16  Year Built                            12488 non-null  float64
 17  Tax Class At Time Of Sale             13817 non-null  int64
 18  Building Class At Time Of Sale        13817 non-null  object
 19  Sale Price                            13817 non-null  int64
 20  Sale Date                             13817 non-null  object
dtypes: float64(7), int64(5), object(9)
memory usage: 2.3+ MB
None

In [103]:
from IPython.display import FileLink

# Creating download links
if 'df_airbnb_cleaned' in locals():
    df_airbnb_cleaned.to_csv("airbnb_cleaned.csv", index=False)
    display(FileLink("airbnb_cleaned.csv", result_html_prefix="Télécharger Airbnb: "))

if 'df_Manhattan_Property_Sales' in locals():
    df_Manhattan_Property_Sales.to_csv("manhattan_properties_cleaned.csv", index=False)
    display(FileLink("manhattan_properties_cleaned.csv", result_html_prefix="Télécharger Manhattan: "))

if 'df_Brooklyn_Property_Sales' in locals():
    df_Brooklyn_Property_Sales.to_csv("brooklyn_properties_cleaned.csv", index=False)
    display(FileLink("brooklyn_properties_cleaned.csv", result_html_prefix="Télécharger Brooklyn: "))

C:\Users\proprietaire\airbnb_cleaned.csv

C:\Users\proprietaire\manhattan_properties_cleaned.csv

C:\Users\proprietaire\brooklyn_properties_cleaned.csv