In [10]:
import pandas as pd

Brooklyn_property_sales_file_path = r"C:\Users\proprietaire\Desktop\PROJETS DATA (PERSOS)\2019_Brooklyn.csv"
Manhattan_property_sales_file_path = r"C:\Users\proprietaire\Desktop\PROJETS DATA (PERSOS)\2019_Manhattan.csv"
airbnb_file_path = r"C:\Users\proprietaire\Desktop\PROJETS DATA (PERSOS)\AB_NYC_2019.csv"

# Loading the Airbnb dataset
df_airbnb = pd.read_csv(r"C:\Users\proprietaire\Desktop\PROJETS DATA (PERSOS)\AB_NYC_2019.csv", encoding='utf-8')
print("Dataset Airbnb")

Dataset Airbnb

In [25]:
# Display the first 5 lines
df_airbnb = pd.read_csv(airbnb_file_path, encoding='utf-8')
print(df_airbnb.head())

     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            Brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           Manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           Manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            Brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           Manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  2018-10-19
1  Entire home/apt    225               1                 45  2019-05-21
2     Private room    150               3                  0         NaN
3  Entire home/apt     89               1                270  2019-07-05
4  Entire home/apt     80              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2                NaN                               1               365
3               4.64                               1               194
4               0.10                               1                 0

In [24]:
# Loading the Manhattan Property Sales dataset
df_airbnb = pd.read_csv( r"C:\Users\proprietaire\Desktop\PROJETS DATA (PERSOS)\2019_Manhattan.csv", encoding='utf-8')
print("Manhattan Property Sales")

Manhattan Property Sales

In [23]:
# Display the first 5 lines
df_Manhattan_Property_Sales = pd.read_csv(Manhattan_property_sales_file_path, encoding='utf-8')
print(df_Manhattan_Property_Sales.head())

   Borough   Neighborhood    Building Class Category  \
0        1  ALPHABET CITY    01 ONE FAMILY DWELLINGS
1        1  ALPHABET CITY    01 ONE FAMILY DWELLINGS
2        1  ALPHABET CITY    02 TWO FAMILY DWELLINGS
3        1  ALPHABET CITY  03 THREE FAMILY DWELLINGS
4        1  ALPHABET CITY  03 THREE FAMILY DWELLINGS

  Tax Class As Of Final Roll 18/1  Block  Lot  Ease-Ment  \
0                               1    376   43        NaN
1                               1    390   61        NaN
2                               1    404    1        NaN
3                               1    377   56        NaN
4                               1    393    9        NaN

  Building Class As Of Final Roll 18/1               Address Apartment Number  \
0                                   S1   743 EAST 6TH STREET              NaN
1                                   A4   189 EAST 7TH STREET              NaN
2                                   B9          166 AVENUE A              NaN
3                                   C0   263 EAST 7TH STREET              NaN
4                                   C0  604 EAST 11TH STREET              NaN

   ...  Residential Units  Commercial Units  Total Units  Land Square Feet  \
0  ...                1.0               1.0          2.0            2090.0
1  ...                1.0               0.0          1.0             987.0
2  ...                2.0               0.0          2.0            1510.0
3  ...                3.0               0.0          3.0            2430.0
4  ...                3.0               0.0          3.0            2375.0

   Gross Square Feet  Year Built  Tax Class At Time Of Sale  \
0             3680.0      1940.0                          1
1             2183.0      1860.0                          1
2             4520.0      1900.0                          1
3             3600.0      1899.0                          1
4             5110.0      1939.0                          1

   Building Class At Time Of Sale Sale Price            Sale Date
0                              S1    3200000  2019-07-24 00:00:00
1                              A4          0  2019-09-25 00:00:00
2                              B9          0  2019-07-22 00:00:00
3                              C0    6300000  2019-04-30 00:00:00
4                              C0          0  2019-10-24 00:00:00

[5 rows x 21 columns]

In [33]:
# Loading the Brooklyn Property Sales dataset
df_Brooklyn_Property_Sales = pd.read_csv(  r"C:\Users\proprietaire\Desktop\PROJETS DATA (PERSOS)\2019_Brooklyn.csv", encoding='utf-8')
print("Brooklyn Property Sales")

Brooklyn Property Sales

In [27]:
# Display the first 5 lines
df_Brooklyn_Property_Sales = pd.read_csv(Brooklyn_property_sales_file_path, encoding='utf-8')
print(df_Brooklyn_Property_Sales.head())

   Borough Neighborhood  Building Class Category Tax Class At Present   Block  \
0      3.0   BATH BEACH  01 ONE FAMILY DWELLINGS                    1  6363.0
1      3.0   BATH BEACH  01 ONE FAMILY DWELLINGS                    1  6363.0
2      3.0   BATH BEACH  01 ONE FAMILY DWELLINGS                    1  6363.0
3      3.0   BATH BEACH  01 ONE FAMILY DWELLINGS                    1  6364.0
4      3.0   BATH BEACH  01 ONE FAMILY DWELLINGS                    1  6367.0

    Lot  Ease-Ment Building Class At Present             Address  \
0  22.0        NaN                        A9    8645 16TH AVENUE
1  48.0        NaN                        A9  12 BAY 13TH STREET
2  48.0        NaN                        A9  12 BAY 13TH STREET
3  74.0        NaN                        A5  72 BAY 14TH STREET
4  42.0        NaN                        S1    1730 86TH STREET

  Apartment Number  ...  Residential Units  Commercial Units  Total Units  \
0              NaN  ...                1.0               0.0          1.0
1              NaN  ...                1.0               0.0          1.0
2              NaN  ...                1.0               0.0          1.0
3              NaN  ...                1.0               0.0          1.0
4              NaN  ...                1.0               1.0          2.0

   Land Square Feet  Gross Square Feet  Year Built  Tax Class At Time Of Sale  \
0            2058.0             1492.0      1930.0                        1.0
1            3142.0             3200.0      1999.0                        1.0
2            3142.0             3200.0      1999.0                        1.0
3            2492.0              972.0      1950.0                        1.0
4            1342.0             1920.0      1926.0                        1.0

   Building Class At Time Of Sale Sale Price            Sale Date
0                              A9        0.0  2019-04-23 00:00:00
1                              A9        0.0  2019-02-27 00:00:00
2                              A9        0.0  2019-02-11 00:00:00
3                              A5        0.0  2019-08-15 00:00:00
4                              S1  1630000.0  2019-02-08 00:00:00

[5 rows x 21 columns]

In [31]:
# --- Inspection of Airbnb dataset ---
if df_airbnb is not None:
    print("\n--- Initial inspection of the Airbnb dataset ---")
    print("First Lines :")
    print("\nInformation on columns and data types :")
    df_airbnb.info() # Useful for viewing types and non-zero values
    print("\nDescriptive statistics :")
    print(df_airbnb.describe()) # Useful for numeric columns (price, availability, etc.) [3, 6, 7].
    print("\nNumber of missing values per column :")
    print(df_airbnb.isnull().sum()) # Identifies columns with NaN

--- Initial inspection of the Airbnb dataset ---
First Lines :

Information on columns and data types :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23665 entries, 0 to 23664
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Borough                         23276 non-null  float64
 1   Neighborhood                    23276 non-null  object
 2   Building Class Category         23276 non-null  object
 3   Tax Class At Present            23260 non-null  object
 4   Block                           23276 non-null  float64
 5   Lot                             23276 non-null  float64
 6   Ease-Ment                       0 non-null      float64
 7   Building Class At Present       23260 non-null  object
 8   Address                         23276 non-null  object
 9   Apartment Number                6083 non-null   object
 10  Zip Code                        23276 non-null  float64
 11  Residential Units               20641 non-null  float64
 12  Commercial Units                20641 non-null  float64
 13  Total Units                     20641 non-null  float64
 14  Land Square Feet                20641 non-null  float64
 15  Gross Square Feet               20641 non-null  float64
 16  Year Built                      21676 non-null  float64
 17  Tax Class At Time Of Sale       23276 non-null  float64
 18  Building Class At Time Of Sale  23276 non-null  object
 19  Sale Price                      23276 non-null  float64
 20  Sale Date                       23276 non-null  object
dtypes: float64(13), object(8)
memory usage: 3.8+ MB

Descriptive statistics :
       Borough         Block           Lot  Ease-Ment      Zip Code  \
count  23276.0  23276.000000  23276.000000        0.0  23276.000000
mean       3.0   4436.305164    326.277797        NaN  11220.409134
std        0.0   2650.873893    513.573275        NaN     11.785682
min        3.0      1.000000      1.000000        NaN  11201.000000
25%        3.0   1865.000000     23.000000        NaN  11210.000000
50%        3.0   4782.500000     50.000000        NaN  11220.000000
75%        3.0   6732.000000    426.000000        NaN  11231.000000
max        3.0   8955.000000   6001.000000        NaN  11249.000000

       Residential Units  Commercial Units   Total Units  Land Square Feet  \
count       20641.000000      20641.000000  20641.000000      20641.000000
mean            2.230028          0.202946      2.432973       2485.481663
std            10.161772          1.814093     10.374395      15303.086255
min             0.000000          0.000000      0.000000          0.000000
25%             1.000000          0.000000      1.000000          0.000000
50%             1.000000          0.000000      2.000000       2000.000000
75%             2.000000          0.000000      2.000000       2500.000000
max           826.000000        210.000000    833.000000     970000.000000

       Gross Square Feet    Year Built  Tax Class At Time Of Sale  \
count       20641.000000  21676.000000               23276.000000
mean         2805.030522   1945.253737                   1.626654
std         14389.217507     38.858157                   0.875533
min             0.000000   1800.000000                   1.000000
25%             0.000000   1920.000000                   1.000000
50%          1844.000000   1930.000000                   1.000000
75%          2808.000000   1965.000000                   2.000000
max        942992.000000   2020.000000                   4.000000

         Sale Price
count  2.327600e+04
mean   1.037545e+06
std    4.611945e+06
min    0.000000e+00
25%    0.000000e+00
50%    4.850000e+05
75%    9.700000e+05
max    2.142000e+08

Number of missing values per column :
Borough                             389
Neighborhood                        389
Building Class Category             389
Tax Class At Present                405
Block                               389
Lot                                 389
Ease-Ment                         23665
Building Class At Present           405
Address                             389
Apartment Number                  17582
Zip Code                            389
Residential Units                  3024
Commercial Units                   3024
Total Units                        3024
Land Square Feet                   3024
Gross Square Feet                  3024
Year Built                         1989
Tax Class At Time Of Sale           389
Building Class At Time Of Sale      389
Sale Price                          389
Sale Date                           389
dtype: int64

In [35]:
# --- Inspection of the dataset Manhattan Property Sales ---
if df_Manhattan_Property_Sales is not None:
    print("\n--- Initial inspection of the Manhattan Property Sales dataset ---")
    print("First Lines :")
    print("\nInformation on columns and data types :")
    df_Manhattan_Property_Sales.info() # # Useful for viewing types and non-zero values
    print("\nDescriptive statistics :")
    print(df_Manhattan_Property_Sales.describe()) # Useful for numeric columns (price, availability, etc.) [4, 6, 7]
    print("\nNumber of missing values per column :")
    print(df_Manhattan_Property_Sales.isnull().sum())# Identifies columns with NaN

--- Initial inspection of the Manhattan Property Sales dataset ---
First Lines :

Information on columns and data types :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17583 entries, 0 to 17582
Data columns (total 21 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Borough                               17583 non-null  int64
 1   Neighborhood                          17583 non-null  object
 2   Building Class Category               17583 non-null  object
 3   Tax Class As Of Final Roll 18/1       17408 non-null  object
 4   Block                                 17583 non-null  int64
 5   Lot                                   17583 non-null  int64
 6   Ease-Ment                             0 non-null      float64
 7   Building Class As Of Final Roll 18/1  17408 non-null  object
 8   Address                               17583 non-null  object
 9   Apartment Number                      8088 non-null   object
 10  Zip Code                              17583 non-null  int64
 11  Residential Units                     9812 non-null   float64
 12  Commercial Units                      9812 non-null   float64
 13  Total Units                           9812 non-null   float64
 14  Land Square Feet                      9812 non-null   float64
 15  Gross Square Feet                     9812 non-null   float64
 16  Year Built                            15532 non-null  float64
 17  Tax Class At Time Of Sale             17583 non-null  int64
 18  Building Class At Time Of Sale        17583 non-null  object
 19  Sale Price                            17583 non-null  int64
 20  Sale Date                             17583 non-null  object
dtypes: float64(7), int64(6), object(8)
memory usage: 2.8+ MB

Descriptive statistics :
       Borough         Block           Lot  Ease-Ment      Zip Code  \
count  17583.0  17583.000000  17583.000000        0.0  17583.000000
mean       1.0   1104.190241    737.370642        NaN  10028.901382
std        0.0    536.865565    883.145605        NaN     36.959115
min        1.0     10.000000      1.000000        NaN  10001.000000
25%        1.0    729.000000     29.000000        NaN  10012.000000
50%        1.0   1164.000000   1003.000000        NaN  10021.000000
75%        1.0   1452.000000   1184.000000        NaN  10028.000000
max        1.0   2250.000000   9109.000000        NaN  10463.000000

       Residential Units  Commercial Units  Total Units  Land Square Feet  \
count        9812.000000       9812.000000  9812.000000       9812.000000
mean            3.388606          0.811965     4.200571       1003.708928
std            18.511595          9.887472    21.114622       8002.911352
min             0.000000          0.000000     0.000000          0.000000
25%             1.000000          0.000000     1.000000          0.000000
50%             1.000000          0.000000     1.000000          0.000000
75%             1.000000          0.000000     1.000000          0.000000
max           600.000000        570.000000   611.000000     659375.000000

       Gross Square Feet    Year Built  Tax Class At Time Of Sale  \
count       9.812000e+03  15532.000000               17583.000000
mean        6.648510e+03   1953.281677                   2.103509
std         5.086343e+04     37.794880                   0.510030
min         0.000000e+00   1800.000000                   1.000000
25%         0.000000e+00   1920.000000                   2.000000
50%         0.000000e+00   1954.000000                   2.000000
75%         0.000000e+00   1985.000000                   2.000000
max         2.400000e+06   2019.000000                   4.000000

         Sale Price
count  1.758300e+04
mean   3.640590e+06
std    2.682500e+07
min    0.000000e+00
25%    2.850000e+05
50%    8.650000e+05
75%    2.000000e+06
max    2.155000e+09

Number of missing values per column :
Borough                                     0
Neighborhood                                0
Building Class Category                     0
Tax Class As Of Final Roll 18/1           175
Block                                       0
Lot                                         0
Ease-Ment                               17583
Building Class As Of Final Roll 18/1      175
Address                                     0
Apartment Number                         9495
Zip Code                                    0
Residential Units                        7771
Commercial Units                         7771
Total Units                              7771
Land Square Feet                         7771
Gross Square Feet                        7771
Year Built                               2051
Tax Class At Time Of Sale                   0
Building Class At Time Of Sale              0
Sale Price                                  0
Sale Date                                   0
dtype: int64

In [36]:
# --- Inspection of the dataset Brooklyn Property Sales ---
if df_Brooklyn_Property_Sales is not None:
    print("\n--- Initial inspection of the Brooklyn Property Sales dataset ---")
    print("First Lines :")
    print("\nInformation on columns and data types :")
    df_Brooklyn_Property_Sales.info() # # Useful for viewing types and non-zero values
    print("\nDescriptive statistics :")
    print(df_Brooklyn_Property_Sales.describe()) # Useful for numeric columns (price, availability, etc.) [4, 6, 7]
    print("\nNumber of missing values per column :")
    print(df_Brooklyn_Property_Sales.isnull().sum())# Identifies columns with NaN

--- Initial inspection of the Brooklyn Property Sales dataset ---
First Lines :

Information on columns and data types :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23665 entries, 0 to 23664
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Borough                         23276 non-null  float64
 1   Neighborhood                    23276 non-null  object
 2   Building Class Category         23276 non-null  object
 3   Tax Class At Present            23260 non-null  object
 4   Block                           23276 non-null  float64
 5   Lot                             23276 non-null  float64
 6   Ease-Ment                       0 non-null      float64
 7   Building Class At Present       23260 non-null  object
 8   Address                         23276 non-null  object
 9   Apartment Number                6083 non-null   object
 10  Zip Code                        23276 non-null  float64
 11  Residential Units               20641 non-null  float64
 12  Commercial Units                20641 non-null  float64
 13  Total Units                     20641 non-null  float64
 14  Land Square Feet                20641 non-null  float64
 15  Gross Square Feet               20641 non-null  float64
 16  Year Built                      21676 non-null  float64
 17  Tax Class At Time Of Sale       23276 non-null  float64
 18  Building Class At Time Of Sale  23276 non-null  object
 19  Sale Price                      23276 non-null  float64
 20  Sale Date                       23276 non-null  object
dtypes: float64(13), object(8)
memory usage: 3.8+ MB

Descriptive statistics :
       Borough         Block           Lot  Ease-Ment      Zip Code  \
count  23276.0  23276.000000  23276.000000        0.0  23276.000000
mean       3.0   4436.305164    326.277797        NaN  11220.409134
std        0.0   2650.873893    513.573275        NaN     11.785682
min        3.0      1.000000      1.000000        NaN  11201.000000
25%        3.0   1865.000000     23.000000        NaN  11210.000000
50%        3.0   4782.500000     50.000000        NaN  11220.000000
75%        3.0   6732.000000    426.000000        NaN  11231.000000
max        3.0   8955.000000   6001.000000        NaN  11249.000000

       Residential Units  Commercial Units   Total Units  Land Square Feet  \
count       20641.000000      20641.000000  20641.000000      20641.000000
mean            2.230028          0.202946      2.432973       2485.481663
std            10.161772          1.814093     10.374395      15303.086255
min             0.000000          0.000000      0.000000          0.000000
25%             1.000000          0.000000      1.000000          0.000000
50%             1.000000          0.000000      2.000000       2000.000000
75%             2.000000          0.000000      2.000000       2500.000000
max           826.000000        210.000000    833.000000     970000.000000

       Gross Square Feet    Year Built  Tax Class At Time Of Sale  \
count       20641.000000  21676.000000               23276.000000
mean         2805.030522   1945.253737                   1.626654
std         14389.217507     38.858157                   0.875533
min             0.000000   1800.000000                   1.000000
25%             0.000000   1920.000000                   1.000000
50%          1844.000000   1930.000000                   1.000000
75%          2808.000000   1965.000000                   2.000000
max        942992.000000   2020.000000                   4.000000

         Sale Price
count  2.327600e+04
mean   1.037545e+06
std    4.611945e+06
min    0.000000e+00
25%    0.000000e+00
50%    4.850000e+05
75%    9.700000e+05
max    2.142000e+08

Number of missing values per column :
Borough                             389
Neighborhood                        389
Building Class Category             389
Tax Class At Present                405
Block                               389
Lot                                 389
Ease-Ment                         23665
Building Class At Present           405
Address                             389
Apartment Number                  17582
Zip Code                            389
Residential Units                  3024
Commercial Units                   3024
Total Units                        3024
Land Square Feet                   3024
Gross Square Feet                  3024
Year Built                         1989
Tax Class At Time Of Sale           389
Building Class At Time Of Sale      389
Sale Price                          389
Sale Date                           389
dtype: int64